
.buyers {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
  color: white;

  .titleWrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;;

    .title {
      display: flex;
      justify-content: center;
      margin: 20px auto;
      font-size: 50px;
    }

    .search {
      width: 70%;
    }

  }

  .tableWrap {
    display: flex;

    .table {
      color: white;
      width: 90%;
      border-collapse: collapse;
      min-width: 280px;

      th, td {
        border-bottom: #262626 1px solid;
      }

      tr {
        .col #max {
          //transform: rotate(180deg);

          &:hover {
            color: green;
            cursor: pointer;
          }
        }
      }
    }
  }
}


